{% extends "main.html" %}

{% block content %}
<div class="container medium">
	<form action="{{conf.app_url}}/app/calc.php#fourth" method="post">
		<label for="id_kwota">Kwota: </label>
		<input id="id_kwota" type="text" name="kwota" value="{{form.kwota}}" />
		<label for="id_lata">Lata: </label>
		<input id="id_lata" type="text" name="lata" value="{{form.lata}}" />
		<label for="id_oprocentowanie">Oprocentowanie (%): </label>
		<input id="id_oprocentowanie" type="text" name="oprocentowanie" value="{{form.oprocentowanie}}" /><br />
		<input type="submit" value="Oblicz" style="display:block; margin : 0 auto;" />
	</form>	
</div>	
<div class="container medium2">
{# wyświeltenie listy błędów, jeśli istnieją #}
{% if messages.isError() %}
	<ol>
	{% for err in messages.getErrors() %}
		<li>{{err}}</li>
	{% endfor %}
	</ol>
{% endif %}

{# {% if messages.isInfo() %}
	<ol>
	{% for inf in messages.getInfos() %}
		<li>{{inf}}</li>
	{% endfor %}
	</ol>
{% endif %} #}


{% if result.res is defined %}
<h1>Miesięczna rata wynosi: 
		{{result.res}} zł</h1>
{% endif %}
</div>
{% endblock %}